*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}/*通配*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;

}/*清除浮动*/

.clearfix:after {
    clear: both;
}/*清除浮动*/



a{
	text-decoration: none;
	    color: #1e1e1e;
}
ul{
	list-style: none;
}

body{
	 background:  #EAEAF1;
	 font-family: Helvetica,
	 Arial,
	 "Hiragino Sans GB",
	 "Microsoft Yahei",
	 "微软雅黑",
	 STHeiti,
	 "华文细黑",
	 sans-serif;
	 font-size: 12px;
	 margin: 0 auto;
}

/*---------header------------*/
.dbg{
	width: 1349px;
	height:600px;

}

.imggg{
	padding-left: 150px;
	padding-top: 20px;
}

.mainn{
	width: 1349px;
	height: 529px;
	margin-top: 25px;
	background:url(../images/dlbg.jpg) no-repeat;
	background-position:center center;
	position: relative;

}
.mainn .dlzc{
	width: 440px;
	height: 430px;
	background-color: #fff;
	position: absolute;
	left: 760px;
	top: 80px;
}
.neirong{
	padding-left: 50px;

}
.neirong h1{
	padding-top: 20px;
	color: #EA5E00;
}



/*---------header------------*/
